<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Web Design Example</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo.png" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Student Stories</a></li>
                    <li><a href="#">Free Resources</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <div class="login">
                <a href="#">Login</a>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <h1>What Is Web Design?</h1>
            <p>Web design is a constantly evolving field. In this article, you'll learn what web design is, key ideas that influenced web design like the mobile-first movement, as well as tips for how to design an effective website.</p>
            <div class="author">
                <img src="author.jpg" alt="Author">
                <span>Monica Galvan</span>
            </div>
        </section>
    </main>
</body>
</html>
